{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span6">
        <form action="{% url redistwitter.twitter.views.index %}" method="post">
            {% csrf_token %}
            {{ tweet_form.as_p }}
            <p><input type="submit" value="Tweet"></p>
        </form>
    </div>

    <div class="span5 home">
    <h2>Timeline</h2>
    <hr>
    {% for item in timeline %}
        <p><a href="{% url twitter_user_page item.username  %}">@{{ item.username }}</a>: {{ item.text }} - {{ item.added }}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
