{% extends "twitter/base.html" %}

{% block content %}
<div>
    <strong style="font-size:22px;">{{ username }}'s Tweets</strong>
    <br>
    {% ifnotequal username my_username %}
        {% if followed %}
            <a href="{% url twitter_unfollow username %}" class="btn">Unfollow</a>
        {% else %}
            <a href="{% url twitter_follow username %}" class="btn">Follow</a>
        {% endif %}
    {% endifnotequal %}
    <br>
    <br>
    {% for item in posts %}
        <p>{{ item.text }} - <a href="{{ item.url }}">{{ item.added }}</a></p>
    {% endfor %}
</div>
{% endblock %}
